<div class="container">
    <h1>Angular CRUD Example</h1>
  
    <a href="#" routerLink="/post/create/" class="btn btn-success">Create New Post</a>
    
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let post of posts">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
        <td>
          <a href="#" [routerLink]="['/post/', post.id, 'view']" class="btn btn-info">View</a>
          <!-- <a href="#" [routerLink]="['/post/', post.id, 'edit']" class="btn btn-primary">Edit</a> -->
          <!-- <a href="#" (click)='onEditPost(post.id)'  class="btn btn-primary">Edit</a> -->
          <button type="button" (click)="onEditPost(post.id)" class="btn btn-success">Edit</button>
          <button type="button" (click)="deletePost(post.id)" class="btn btn-danger">Delete</button>
        </td>

      </tr>
    </table>
 </div>